<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <policies>
    <item key="TruePolicy" value="Decisions.Web.Support.AlphaPolicy, Decisions.Web" />
    <item key="FalsePolicy" value="Decisions.Web.Support.AlphaPolicy, Decisions.Web" id="2"/>
  </policies>
  <namespace name="Example">
    <decisions>
      <item key="Enabled" value="TruePolicy" />
      <item key="Disabled" value="FalsePolicy" />
    </decisions>
  </namespace>
</configuration>