<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <castle>
    <installers>
      <install type="Decisions.Example.Installers.CacheServicesInstaller, Decisions.Example" />
      <install type="Decisions.Example.Installers.EndpointInstaller, Decisions.Example" />
    </installers>

    <components>

      <component id="Decisions.Services.EnvironmentService"
                 type="Decisions.Services.EnvironmentService, Decisions">
        <parameters>
          <providers>
            <array>
              <item>${ExampleEnvProvider}</item>
            </array>
          </providers>
        </parameters>
      </component>

      <component id="Decisions.Application.Services.PolicyService"
                 type="Decisions.Services.PolicyService, Decisions">
        <parameters>
          <providers>
            <array>
              <item>${ExamplePolicyProvider}</item>
            </array>
          </providers>
        </parameters>
      </component>

      <component
        id="ExampleEnvProvider"
        type="Decisions.Example.Support.ExampleEnvironmentProvider, Decisions.Example"
        service="Decisions.Contracts.IEnvironmentProvider, Decisions.Contracts" />
      
      <component id="TruePolicy" type="Decisions.Example.Support.AlphaPolicy, Decisions.Example" service="Decisions.Contracts.IPolicy, Decisions.Contracts" />
      <component id="LongPolicy" type="Decisions.Example.Support.DeltaPolicy, Decisions.Example" service="Decisions.Contracts.IPolicy, Decisions.Contracts" />

      <component
        id="ExamplePolicyProvider"
        type="Decisions.Contracts.Providers.PolicyProvider, Decisions.Contracts"
        service="Decisions.Contracts.IPolicyProvider, Decisions.Contracts">
        <parameters>
          <policies>
            <dictionary>
              <entry key="Enabled">${TruePolicy}</entry>
              <entry key="Long">${LongPolicy}</entry>
            </dictionary>
          </policies>
        </parameters>
      </component>

    </components>
  </castle>

  <appSettings>
    <add key="Decisions.ConfigurationPath" value="[INSERT PATH HERE]\Decisions.config"/>
    <add key="Decisions.EnvironmentCacheDuration" value="15"/>
    <add key="Decisions.DecisionsCacheDuration" value="5"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
