<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <namespace name="Example">
    <decision>
      <item key="A" value="A" />
      <item key="B" value="B" />
      <item key="C" value="A OR B" />
      <item key="D" value="A AND B" />
      <item key="E" value="E" />
      <item key="F" value="F" />
      <item key="G" value="G" />
      <item key="H" value="H" />
      <item key="I" value="(A AND !B) OR H" />
      <item key="J" value="(True AND ((True AND False) OR True)) OR False"/>
      <item key="K" value="(True OR ((True AND False) OR False)) OR False"/>
      <item key="Z" value="True" />
      <item key="Y" value="False" />
    </decision>
  </namespace>
</configuration>