<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <namespace name="Example">
    <decisions>
      <item key="A" value="A" />
      <item key="B" value="B" />
      <item key="C" value="A OR B" />
      <item key="D" value="A AND B" />
      <item key="E" value="E" />
      <item key="F" value="F" />
      <item key="G" value="G" />
      <item key="H" value="H" />
      <item key="I" value="(A AND !B) OR H" />
      <item key="Z" value="True" />
    </decisions>
  </namespace>
</configuration>