<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <castle>
    <installers>
      <install type="Decisions.Installers.CacheServicesInstaller, Decisions, Version=1.0.0.0, Culture=neutral" />
      <install type="Decisions.Installers.EndpointInstaller, Decisions, Version=1.0.0.0, Culture=neutral" />
    </installers>

    <components>

      <component id="Securables.Application.Services.EnvironmentService"
                 type="Decisions.Application.Services.EnvironmentService, Decisions.Application, Version=1.0.0.0, Culture=neutral">
        <parameters>
          <providers>
            <array>
              <item>${ExampleEnvProvider}</item>
            </array>
          </providers>
        </parameters>
      </component>

      <component id="Securables.Application.Services.PolicyService"
                 type="Decisions.Application.Services.PolicyService, Decisions.Application, Version=1.0.0.0, Culture=neutral">
        <parameters>
          <providers>
            <array>
              <item>${ExamplePolicyProvider}</item>
            </array>
          </providers>
        </parameters>
      </component>

      <component
        id="ExampleEnvProvider"
        type="Securables.Tests.Support.ExampleEnvironmentProvider, Securables.Tests"
        service="Securables.Contracts.IEnvironmentProvider, Securables.Contracts" />
      
      <component id="TruePolicy" type="Securables.Tests.Support.AlphaPolicy, Securables.Tests" service="Securables.Contracts.IPolicy, Securables.Contracts" />
      <component id="LongPolicy" type="Securables.Tests.Support.DeltaPolicy, Securables.Tests" service="Securables.Contracts.IPolicy, Securables.Contracts">
        <parameters>
          <AclEnvironmentKey>LongRunning</AclEnvironmentKey>
        </parameters>
      </component>

      <component
        id="ExamplePolicyProvider"
        type="Decisions.Contracts.Providers.PolicyProvider, Decisions.Contracts, Version=1.0.0.0, Culture=neutral"
        service="Securables.Contracts.IPolicyProvider, Securables.Contracts">
        <parameters>
          <policies>
            <dictionary>
              <entry key="Enabled">${TruePolicy}</entry>
              <entry key="Long">${LongPolicy}</entry>
            </dictionary>
          </policies>
        </parameters>
      </component>

    </components>
  </castle>

  <appSettings>
    <add key="Securables.ConfigurationPath" value="[INSERT PATH HERE]\Securables.config"/>
    <add key="Securables.EnvironmentCacheDuration" value="15"/>
    <add key="Securables.SecurablesCacheDuration" value="5"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
